//Colors

$red: #ff7a7a;
$green: rgb(56, 204, 140);
$blue: #6055a5;
$darkBlue: #3e3c49;
$grayishBlue: #b9b6d3;


//Typography

$typePoppins: 'Poppins', sans-serif;

//Font 
$fontXsm: 0.6875rem; //11px
$fontSmall: 0.875rem; //14px
$fontReg: 0.9375rem; //15px
$fontMed: 1rem; //16px
$fontLarge: 1.75rem; //28px
$fontXl: 3.125rem; //50px



// $fontWeights: (
//     "regular": 400,
//     "medium": 500,
//     "semi-bold": 600,
//     "bold": 700
// )